/*
 * marlindroid1/style.css
 * GPLv3 (C) 2021 librehof.com
 */

html {
  background: url("/media/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: yellow;
  font-family: "DejaVu Sans",Verdana,Arial,sans-serif;
}

body {
  font-family: "DejaVu Sans",Verdana,Arial,sans-serif;
  color: #f0f0f0;
  margin: 0px;
}

input {
  font-size: 14px;
  font-family: "DejaVu Sans",Verdana,Arial,sans-serif;
}

a:link {
  color: #f0f0f0;
  text-decoration: none;
}
a:visited {
  color: #f0f0f0;
  text-decoration: none;
}
a:hover {
  color: #f0f080;
  text-decoration: none;
}
a:active {
  color: #f0f080;
  text-decoration: none;
}

/* global */

.graycover {
  display: none;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0; z-index: 10;
  background:rgba(0,0,0,0.4);
}

/* frame */

.frametable {
  width: 100%;
  border-left: 2px solid #000000;
  border-right: 2px solid #282828;
  border-top: 2px solid #282828;
  border-bottom: 2px solid #000000;
  background-color: #383838;
}

.frametitle {
  min-width: 1%;
  padding: 16px 12px 8px 8px;
  vertical-align: top;
  text-align: center;
  white-space: nowrap;
  font-size: 20px;
  white-space: nowrap;
}

.frametabs {
  min-width: 1%;
  padding: 4px;
  padding-left: 8px;
  vertical-align: top;
  font-size: 32px;
  text-align: left;
  white-space: nowrap;
}

.framestatus {
  padding: 4px;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

.frametab0 {
  min-width: 120px;
  min-height: 40px;
  vertical-align: top;
  display: inline-block;
  margin: 4px;
  padding: 8px;
  text-align: center;
  border-radius: 16px;
  border-left: 2px solid #000000;
  border-right: 2px solid #282828;
  border-top: 2px solid #282828;
  border-bottom: 2px solid #000000;
}
.frametab0:link {
  color: #808080;
}
.frametab0:visited {
  color: #808080;
}
.frametab0:hover {
  color: #f0f080;
}
.frametab0:active {
  color: #f0f080;
}

.frametab1 {
  min-width: 120px;
  min-height: 40px;
  vertical-align: top;
  display: inline-block;
  margin: 4px;
  padding: 8px;
  text-align: center;
  border-radius: 16px;
  border-left: 2px solid #484848;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #484848;
  /*background-color: #181818;*/
  background-color: #000000;
}
.frametab1:link {
  color: #8080ff;
}
.frametab1:visited {
  color: #8080ff;
}
.frametab1:hover {
  color: #8080ff;
}
.frametab1:active {
  color: #8080ff;
}

.daybox {
  font-size: 32px;
  min-height: 40px;
  min-width: 95px;
  vertical-align: top;
  display: inline-block;
  margin: 4px;
  padding: 8px;
  text-align: right;
  border-radius: 10px;
  border-left: 2px solid #484848;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #484848;
  background: #303030;
}

.hmsbox {
  font-size: 32px;
  min-height: 40px;
  min-width: 160px;
  vertical-align: top;
  display: inline-block;
  margin: 4px;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  border-left: 2px solid #484848;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #484848;
  background: #303030;
}

.statusbox {
  font-size: 36px;
  min-width: 220px;
  min-height: 40px;
  vertical-align: top;
  display: inline-block;
  margin: 4px;
  padding: 6px;
  text-align: center;
  border-radius: 10px;
  border-left: 2px solid #484848;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #484848;
  color: #ffff00;
  background: #101010;
}

/* state and pos */

.statustd {
  width: 100%;
  margin: 4px;
  padding: 4px;
  border-radius: 10px;
  border: 2px solid #282828;
}

.poskey {
  width: 1%;
  white-space: nowrap;
  text-align: left;
  padding: 8px;
}

.keybox {
  width: 1%;
  min-width: 100px;
  min-height: 100px;
  white-space: nowrap;
  font-size: 64px;
  padding-top: 20px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  border-left: 2px solid #484848;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #484848;
  background: #303030;
}

.posvalue {
  text-align: left;
  white-space: nowrap;
  padding: 8px;
}

.valuebox {
  display: inline-block;
  white-space: nowrap;
  font-size: 96px;
  vertical-align: middle;
  text-align: right;
  min-width: 500px;
  min-height: 120px;
  border: 2px solid #604020;
  border-radius: 10px;
  border-left: 2px solid #484848;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #484848;
  color: #ffff00;
  background: #101010;
}

.statebox {
  font-size: 36px;
  min-height: 42px;
  min-width: 220px;
  vertical-align: middle;
  display: inline-block;
  margin: 4px;
  padding: 4px;
  text-align: center;
  border-radius: 10px;
  border-left: 2px solid #484848;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #484848;
  background: #202020;
}

.statusline {
  font-size: 30px;
  min-height: 42px;
  width: 98%; //fallback
  width: 98vw;
  vertical-align: middle;
  display: inline-block;
  margin-top: 16px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px;
  text-align: left;
  border-radius: 10px;
  border-left: 2px solid #484848;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #484848;
  background: #303030;
}
